@import "./variables";

@mixin body-content {
  min-width: 90%;
  max-width: 1000px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;  
}

@mixin column-center {
  @include center;
  flex-direction: column;
  justify-content: flex-start;  
}

@mixin column-right {
  @include column-center;
  align-items: end;
}

@mixin background-blur {
  backdrop-filter: blur(0.1rem);
  background-color: $color-dark-glass;
}

@mixin limit-width-global {
  max-width: $max-width-global;
  width: 100%;
  padding: 0 0.8rem;
}

@mixin one-line-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid($widthCell:21.5rem, $gap:2rem) {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax($widthCell, 1fr));
  gap: $gap;
}

@mixin image-cover {
  width: 100%;
  object-fit: cover;  
}

@mixin animation-show($name, $from, $to) {
  @keyframes #{$name} {
    0% {opacity: $from;}
    100% {opacity: $to;}
  }
}

@mixin animation-smooth-slide-Y($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      opacity: 0;
      height: $from ;
      }
    100% {
      opacity: 1;
      height: $to ;
    }
  }
}

@mixin underline {
  @keyframes underline {
    0% {width: 0;}
    100% {width: 100%;}
  }
}

/**
 * @param $interval       - The interval between each delay, defaults to 500ms
 * @param $startTime      - The start time of the animations, defaults to 0ms
 * @param $numberOfDelays - The total number of delays to be generated, defaults to 10
 */
 @mixin delays($interval: 500, $startTime: 0, $numberOfDelays: 10) {
	@for $i from 0 through $numberOfDelays {
		$ms : $startTime + ($i * $interval);
		&:nth-of-type(#{$i}){
			animation-delay: #{$ms}ms;
		}
	}
}

@mixin modal {
  background-color: $colorDarkGlass;
  padding: $paddingMd;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}


/**
 * @param $delay       - Delay in ms, defaults to 500ms
 * @param $startTime      - The start time of the animations, defaults to 0ms
 * @param $numberOfDelays - The total number of delays to be generated, defaults to 10
 */
 @mixin same-delays($delay: 500, $startTime: 0, $numberOfDelays: 10) {
	@for $i from 0 through $numberOfDelays {
		&:nth-of-type(#{$i}){
			animation-delay: #{$delay}ms;
		}
	}
}

@mixin gradient-text($from, $to){
  background-image: linear-gradient(60deg, $from, $to);
  background-clip: text;
  color: transparent;
}