$border-button: 0.1rem solid #F4F4F9;
$border-radious-mdd: 0.5rem;
$border-radious-md: 0.3rem;
$border-radious-sm: 0.2rem;
$border-radious-xs: 0.1rem;
$border-width-xl: 0.8rem;
$border-sm: 0.2rem;
$color-dark: #918e8e;
$color-dark-glass: rgba(39, 36, 36, 0.77);
$background-color-card: rgba(179, 24, 89, 0.55);
$color-dark-primary: #04060A;
$color-error: #ff3c78;
$color-green: #53bbbb;
$color-light-glass: #f0f8ff57;
$color-primary: aliceblue;
$color-red: #e87979;
$color-secondary: #ff3c78;
$color-tertiary: teal;
$color-warning: #e8d18b;
$color-yellow: #e8d18b;
$comment-background-color: rgba(255, 255, 255, 0.3);
$duration-home-button: 2s;
$duration-sm: 0.4s;
$duration-xs: 0.2s;
$font-size-input: 1.5rem;
$font-size-md: 1.1rem;
$font-size-mdd: 2rem;
$font-size-xl: 2.5rem;
$font-weigth-xll: 800;
$gap-md: 1rem;
$gap-sm: 0.5rem;
$grid-column-width-md: 4rem;
$height-box-md: 13rem;
$height-card: 17rem;
$height-footer: 7.3rem;
$height-header: 4rem;
$height-error-validation: 1.3rem;
$height-img-md: 12rem;
$height-md: 4rem;
$height-sm: 2rem;
$height-smm: 3rem;
$height-svg: 1.5rem;
$height-title-page: 4rem;
$height-underline: 0.2rem;
$height-xs: 1rem;
$height-xss: 0.5rem;
$left-home-button: 10rem;
$margin-md: 1rem;
$margin-sm: 0.5rem;
$max-width-global: 62.5rem;
$breakpoint-mobile: 720px;
$min-width-page: 15rem;
$padding-md: 1rem;
$padding-global: 1.6rem;
$padding-sm: 0.5rem;
$padding-xlll: 3rem;
$padding-xll: 2rem;
$padding-xs: 0.4rem;
$pagination-heigth: 4.8rem;
$right-home-button: 1rem;
$sign-width: 18.75rem;
$box-max-width-sm: 6.25rem;
$spinner-heigth: 2.5rem;
$spinner-width: 2.5rem;
$top-home-button: 19rem;
$translate-Y: -0.1rem;
$width-sm: 2rem;
$width-xl: 6rem;
$width-xs: 1rem;
$color01:#ed254e;
$color02:#32a287;
$color03:#a480cf;
$color04:#779be7;
$color05:#e8871e;
$color06:#d264b6;
$color07:#49b6ff;
$color08:#edb458;
$color09:#bad4aa;
$color10:#b75d69;
$color11:#ead94c;
$color12:#5dd39e;
$color13:#648de5;
$color14:#ed7d3a;
$color15:#b33951;
$color16:#c0df85;
$color17: #E21143;
$color18: #FFB03A;