@import "../../styles/mixins";
@import "../../styles/variables";

.layout{
  
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0 $padding-global;
  background-color: $color-dark-primary;
  justify-content: center;
  color: $color-primary;
  position: relative;

  &__content{
    @include limit-width-global;
    padding: 0;
  }
}