@import "../../styles/mixins";
@import "../../styles/variables";

.header{
  @include limit-width-global;
  @include one-line-space-between;
  padding: 0;
  height: $height-header;
}

.header__logo{
  @include center;
  cursor: pointer;
}

.header__title{
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-mdd;
  color: $color-secondary;
  font-weight: 700;
}

.header__img,.header__img--smaller{
  height: $height-sm;
  width: $width-sm;
  animation: show 0.4s ease-in-out forwards;
}

.header__img--smaller{
  scale: 0.8;
}

.header__button{
  @include center;
  background-color: transparent;
  height: 75%;
  cursor: pointer;
  padding: 0;
  border: 0;
  filter: invert(100%);
}

.header__navbar{
  background-color: transparent;
  position: absolute;
  top: $height-header;
  bottom: 0;
  left: 0;
  right: 0;
}

.header__navbar--desktop{
  display: none;
}

@media all and (min-width:$breakpoint-mobile) {
  .header__button,.header__navbar{
    display: none;
  }
  .header__navbar--desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: none;
    position: relative;
    padding: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
}

@include animation-show(show, 0, 100%);