@import "../../styles/mixins";
@import "../../styles/variables";

.navbar{
  @include column-right;
  @include background-blur;
  @include limit-width-global;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: $gap-md;
  z-index: 100;
  padding: 0;
  padding-right: $padding-global;
  font-weight: 600;
}

.navbar__button,.navbar__button--current, .navbar__button--logout, .navbar__button--profile{
  @include center;
  color: $color-primary;
  justify-content: center;
  height: $height-md;
  background-color: transparent;
  border-radius: $border-radious-md;
  font-size: $font-size-md;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  margin-right: $margin-sm;
}

.navbar__button--logout{
  justify-content: end;
}

.navbar__button--current{
  color: $color-secondary;
}

.navbar__button--current::after{
  content: "";
  position: absolute;
  background-color: $color-secondary;
  height: $height-underline;
  width: 0;
  bottom: $height-xss;
  animation: underline $duration-xs ease-in forwards;
}

.navbar__button--profile{
  min-width: auto;
  max-width: $width-xl;
  display: flex;
  justify-content: flex-start;
}

.navbar__logoutText{
  max-width: $width-xl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar__img{
  height: $height-sm;
  width: $width-sm;
}

@media all and (min-width:$breakpoint-mobile) {
  .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    position: relative;
    padding: 0;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .navbar__button,.navbar__button--current{
    font-weight: 500;
    min-width: $width-xl;
  }

  .navbar__button--logout{
    justify-content: center;
  }
}

.navbar__username::first-letter{
  text-transform: uppercase;
}

@include underline;